@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');


.date {
    text-align: left;
    font-size: 0.8em;
}

h5 {
    color:red;
    font-style: abril;
}

h1 { 
    text-align: center
 }

 .navbar {
     border-top: 1px #000 solid;
     border-bottom: 1px #000 solid;
     padding-bottom: 10px;
     padding-top: 10px;
     display:flex;
     justify-content:space-between;  
 }
 .navbar a {
    text-decoration: none;
    color: #777;
 }
 
 .navbar a:hover{
    border-bottom: 10px red solid;
 }

 h2{
     text-align: left;
 }

 h5{
     text-align: left;
 }

 

 body{
     margin: 0;
     background-color: #eee;
     padding-left: 100px;
     padding-right: 100 px;


 }
.newspaper-container{
    width: 700px;
    text-align: center;
    background-color: white;
    padding: 100px;
    border-radius:  50px ;
    border-left: 100px #777;
    box-shadow: #ddd;
}

img{
    width: 100%;
    height: auto;
  }

  .more-articles section{
      border-top 1px solid #eee;
      margin-top: 1.5em;
      text-align: center;
  }
  .more-articles section {
      display: inline-block;
      width: 44%;
      margin: 0 1em;
  }
  .more-articles img {
      width:  100%;
  }
  .more-articles h4 {
      font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: left;
  }





